@model BootstrapSite1.Models.CommunityListViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Profile</h2>
<table class="table table-responsive table-striped">

    @foreach (var item in Model.Communities)
    {
        <tr>
            <td>
                @Html.LabelFor(modelItem => item.Firstname, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>

    <tr>
        <td>
            @Html.LabelFor(modelItem => item.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName, new { htmlAttributes = new { @class = "form-control" } })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(modelItem => item.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(modelItem => item.Address, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address, new { htmlAttributes = new { @class = "form-control" } })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(modelItem => item.City, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City, new { htmlAttributes = new { @class = "form-control" } })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(modelItem => item.Country, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country, new { htmlAttributes = new { @class = "form-control" } })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(modelItem => item.State, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State, new { htmlAttributes = new { @class = "form-control" } })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(modelItem => item.Zip, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip, new { htmlAttributes = new { @class = "form-control" } })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(modelItem => item.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone, new { htmlAttributes = new { @class = "form-control" } })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(modelItem => item.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email, new { htmlAttributes = new { @class = "form-control" } })
        </td>
    </tr>
    }

</table>

